@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
/* Mobile version  */

body {
   
    height: 100vh;
    width: 100vw;
    background: #684BB1;
    background-image: url(./assets/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 722px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 305px;


}

.logo {
    height: 29px;
    padding-left: 3px;
    margin-bottom: 55px;
}
.mockup {
    margin: auto;
    height: 209px;
    width: 295px;
    

}
.text_container {
    display: flex;
    flex-direction: column;
    width: 305px;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}
h1 {
    margin-top: 60px;
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
p {
    margin-bottom: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
button {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #684bb1;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
}    
svg {
    width: 13px;
    height: 13px;
}
footer {
    display: flex;
    justify-content: center;
    gap: 11px;
}
.svg-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border: 1.17647px solid #ffffff;
    border-radius: 50%;
}


/* Responsive */
@media (min-width: 1440px) {
    body {
        display: block;
        background-image: url(./assets/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: initial;
    }
    .container {
        margin: 60px 80px 40px 80px;
        height: unset;
        


    }
    .card {
        display: flex;
        flex-direction: row;
        gap: 59px;
        width: 100%;
        margin-bottom: 27px;
    }
    .mockup {
        width: 697px;
        height: 493px;
        margin: 0px;

    }
    .logo {
        height: 45px;
        width: 200px;
        margin-bottom: 105px;
       
    }
    .text_container {
        width: 520px;
        display: block;
        padding-top: 48px;
       
        

    }
    h1 {
        text-align: left;        
        font-size: 40px;
        line-height: 60px;
        margin-top: -15px;
        margin-bottom: 24px;
    }
    p {
        text-align: left;
        font-size: 18px;
        line-height: 27px;
    }
    button {
        font-size: 18px;
        line-height: 27px;
        width: 200px;
        height: 56px;
        border-radius: 28px;
        border: 0px;
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    }    
    footer {
        display: flex;
        justify-content: flex-end;
        gap: 11px;
    }
    .svg-circle {
        align-items: center;
        height: 40px;
        width: 40px;
        
    }
    svg {
        width: 19px;
        height: 19px;

    }
    /* Hovers */
    button:hover {
        background: #E880E8;
        color: #FFFFFF;
    }
    .svg-circle:hover {
        border: solid #FF52C1;
        
    }
    .svg-circle:hover>svg {
        fill: #FF52C1;
    }
}